html {
  background: honeydew;
}

body {
  margin: 0;
}

.main {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.error {
  margin: 15vh auto;
  width: 50%;
  padding: 3rem;
  border-radius: 10px;
  background-color: darkred;
  font-size: 1.5rem;
  color: #ddd;
}
.error a {
  color: gold;
}

.hidden {
  display: none;
}

.canvas {
  background-color: blue;
  border-radius: 5px;
}
